<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <%= image_tag 'uncc_logo' %>
            <h1>Niner Picks</h1>
        </div>
        <div class="col">
            <%= render partial: 'userbar' %>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <%= link_to 'Create Poll', new_poll_path, :class => "btn btn-lg btn-default", :type => "btn" %>
        </div>
        <div class="col">
            <%= link_to 'View Featured Polls', {:controller => 'polls', :action => 'featured'}, :class => "btn btn-lg btn-default", :type => "btn" %>
        </div>
        <div class="col">
            
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <%= render partial: 'polls_table' %>
        </div>
    </div>
    <div class="row">
        <!-- Add pagination -->
    </div>
</div>
