<head>
    <%= render partial: 'javascript' %>
</head>

<h1>Niner Picks</h1>
<h2>Create Poll</h2>

<div id="form">
<%= form_for @poll do |p| %>
    <p>
        <%= p.label :author %>
        <%= p.text_field :author %>
    </p>
    <p>
        <%= p.label :title %>
        <%= p.text_field :title %>
    </p>
    <p>
        <%= p.label :question %>
        <%= p.text_field :question %>
    </p>
    
    <p>
        <%= p.submit :id => "submit" %>
    </p>
<% end %>
</div>

<button onClick="add()">Add Question</button>

<script>
function add()
{
    var div = document.getElementById("form");
    
    var newQuestionTitle = document.createElement("div");
    newQuestionTitle.textContent = "New Content";
    
    var element = document.getElementById("submit");
    
    element.parentNode.insertBefore(newQuestionTitle, element);
}
</script>

