<div class="container"><h1>Niner Picks</h1>
<h2>Create Poll</h2>

<div id="form">
<%= form_for @poll do |p| %>
<table>
    <tr>
        <td><%= p.label :author %></td>
        <td><%= p.text_field :author %></td>
    </tr>
    <tr>
        <td><%= p.label :title %></td>
        <td><%= p.text_field :title %></td>
    </tr>
    <tr>
        <td><%= p.label :question %></td>
        <td><%= p.text_field :question %></td>
    </tr>
</table>
    
<!--<a id="addQuestion" onClick="add()">Add Question</a>-->
    
    <p>
        <%= p.submit %>
    </p>
<% end %>
</div>

<script>
function add()
{
    var div = document.getElementById("form");
    
    var newParagraph = document.createElement("p");
    
    var newLabel = document.createElement("label");
    newLabel.textContent = "Question ";
    
    var newField = document.createElement("input");
    newField.setAttribute("type", "text");
    
    newParagraph.appendChild(newLabel);
    newParagraph.appendChild(newField);
    
    var element = document.getElementById("addQuestion");
    
    element.parentNode.insertBefore(newParagraph, element);
}
</script>

</div>