<h1>Niner Picks</h1>
<h2><%= @poll.title %> by <%= @poll.author %></h2>
<h3><%= @poll.question %></h3>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= column_chart @poll.responses.group(:answer).count %>

<%= link_to 'Go Home', {:controller => 'welcome'}, :class => "btn btn-lg btn-default", :type => "btn" %>