<div class="container"><h1>Niner Picks</h1>
<h2><%= @poll.title %> by <%= @poll.author %></h2>
<h3><%= @poll.question %></h3>

<%= link_to 'Back', polls_path %>
<%= link_to 'Take Poll', {:controller=> "polls", :action => "take", :id=>@poll.id}, :class => "btn btn-lg btn-default", :type => "btn" %>
<%= link_to 'Delete Poll', {:controller=> "polls", :action => "destroy", :id=>@poll.id}, :method => 'delete', :class => "btn btn-lg btn-default", :type => "btn" %>
                            

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="col"><%= column_chart @poll.responses.group(:answer).count %></div></div>